@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans:opsz,wght@6..12,800&display=swap");

.Button {
  position: relative;
  cursor: pointer;
}

nav .BtnBackground-gray {
  transform: skew(-20deg);
}

.BtnBackground-gray {
  background: grey;

  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;

  border: black 0.05rem solid;
  padding: 1rem;
}

nav .BtnBackground-pink {
  transform: skew(-20deg);
}

.BtnBackground-pink {
  background: linear-gradient(135deg, #fc087d, #ff528b);
  border: black 0.05rem solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.2s ease;
}

.ButtonText {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  font-size: 4rem;
  text-align: center;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

.Button:hover .BtnBackground-gray {
  background: black;
}

.Button:hover .BtnBackground-pink {
  transform: translate(7%, 9%);
}

nav .Button:hover .BtnBackground-gray {
  transform: skew(-25deg);
}

nav .Button:hover .BtnBackground-pink {
  transform: skew(-25deg) translate(7%, 9%);
}
