@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans:opsz,wght@6..12,800&display=swap");

.Button {
  position: relative;
  display: inline-block;
  font-size: 4rem;
  width: fit-content;
  height: fit-content;
}

.ButtonText {
  background: grey;
  text-align: center;
  transform: skew(-20deg);
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
  cursor: pointer;
  border: black 0.05rem solid;
  padding: 1rem;
  font-size: 4rem;
}

.BtnBackground {
  background: linear-gradient(135deg, #fc087d, #ff528b);
  border: black 0.05rem solid;
  transform: skew(-20deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.2s ease;
}

h1 {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button:hover .ButtonText {
  background: black;
  transform: skew(-25deg);
}

.Button:hover .BtnBackground {
  transform: skew(-25deg) translate(7%, 9%);
}
