body {
    margin: 0;
    min-height: 100vh;
}

.menu-wrapper {
    position: absolute;
    top: 20%;
    right: 25%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: flex-start;
    margin-left: 100px;
}

.container {
    position: relative;
    display: block;
    width: auto;
}


.nav-button {
    background: grey;
    text-align: center;
    transform: skew(-20deg) scale(4);
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
    display: inline-block;
    width: auto;
}

.background {
    background: #fc087d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.2s ease;
}

h1 {
    color: white;
    margin: 0;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}


.container:hover .nav-button {
    background: black;
    transform: skew(-25deg) scale(4.1);
}

.container:hover .background {
    transform: skew(-25deg) scale(4.1) translate(7%, 9%);
}